# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS metadata
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# Logs / temp
*.log
.tmp/
.temp/

# IDE specific
.idea/
.vscode/
*.swp

/hw_08/data

